extends main-layout.jade

block content
  .content  
    .wrapper
      .wrapper__column
        aside.aside
          nav.aside__nav
            block aside-nav
          
          block search
            
          block subscribe
          
          block aside-news
      
      .wrapper__column--right
        block right-content
        
    .bottom-subscribe
      block subscribe
