.another-news
  .another-news__title Другие новости
  ul.another-news__list
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют

    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют
          
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют
          
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют
          
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют
          
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют
          
    li.another-news__item
      .another-news__date 15 декабря 2015
      .another-news__subtitle
        | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это
      .another-news__text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        span.another-news__bold
          | Lorem Ipsum используют

  a.another-news__link(href="/news.html") Посмотреть все новости
