section.video
  .video__title Видеоролик
  .video__block
    iframe(width='100%', height='100%', src='https://www.youtube.com/embed/Vgld4mFZzpk', frameborder='0', allowfullscreen='')
  
  .video__signature
   | Подпись под фотографией, или название фотографии или всей галереии в две строки
