@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic&subset=cyrillic-ext,cyrillic,latin-ext,latin);
/* fonts end */
/* --------- main --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

button {
  outline: none;
  border: none;
  background: none; }

img {
  display: block; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:focus {
  outline: 0; }

body {
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #263343; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }
  .main--content {
    display: table-row;
    height: 100%; }

form input {
  border: 2px solid transparent; }

form .js-error {
  border: 2px solid #c84855; }

/* defaul style end  */
.content {
  padding-top: 57px;
  width: 100%; }

.wrapper {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
  position: relative; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper__column {
    float: left; }
    .wrapper__column--right {
      float: right; }

.aside {
  width: 100%;
  max-width: 320px; }

.first-block {
  background: #efefef; }

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 768px;
    padding: 0 10px; }
    .wrapper__column {
      float: none; }
      .wrapper__column--right {
        float: none;
        padding: 70px;
        padding-top: 20px;
        padding-bottom: 0; }
  .aside {
    max-width: 100%;
    padding-left: 70px; } }

@media screen and (max-width: 740px) {
  .wrapper {
    padding: 0;
    margin: 0 auto; }
    .wrapper__column {
      padding: 0 20px; }
      .wrapper__column--right {
        padding: 0 20px; }
  .aside {
    max-width: 280px;
    margin: 0 auto;
    padding-left: 0; } }

.button {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #ffa200;
  padding: 13px 20px;
  border-radius: 40px;
  display: inline-block; }
  .button:hover {
    background: #ffb93f; }
  .button:active {
    background: #d58700; }

.arrow-button {
  font-size: 12px;
  line-height: 15px;
  color: #ffa200;
  display: inline-block; }
  .arrow-button:after, .arrow-button:before {
    content: '';
    width: 41px;
    height: 9px;
    vertical-align: middle;
    display: none; }
  .arrow-button:after {
    background: url(../img/association-link.png) 0 0 no-repeat;
    display: inline-block;
    margin-left: 7px; }
  .arrow-button--left:after {
    display: none; }
  .arrow-button--left:before {
    background: url(../img/association-link--left.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 7px; }

.button-news {
  font-size: 13px;
  line-height: 17px;
  border: 2px solid #ffa200;
  padding: 12px 10px 12px 20px;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  width: 145px;
  vertical-align: middle; }
  .button-news:after {
    content: '';
    background: url(../img/tick.png) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -2px; }

.header {
  padding: 18px 0 20px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header__left {
    float: left;
    margin-top: 7px; }
  .header__right {
    float: right; }
  .header__mail {
    font-size: 14px;
    line-height: 17px;
    color: #2e3644;
    text-decoration: underline;
    margin-top: 12px;
    display: block; }
    .header__mail:hover {
      text-decoration: none; }
    .header__mail::before {
      content: '';
      background: url(../img/mail.png) 0 0 no-repeat;
      width: 17px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  .logo__img {
    width: 241px;
    height: 46px; }

.callback {
  display: inline-block;
  vertical-align: top;
  margin-left: 190px;
  margin-top: 9px; }
  .callback__number {
    font-size: 24px;
    line-height: 27px;
    color: #2e3644;
    font-weight: 600;
    margin-bottom: 12px; }
    .callback__number::before {
      content: '';
      width: 31px;
      height: 31px;
      background: url(../img/phone.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px; }
  .callback__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #ffa200;
    padding-left: 44px;
    text-decoration: underline; }
    .callback__link:hover {
      text-decoration: none; }

@media screen and (max-width: 1000px) {
  .callback {
    margin-left: 20px; } }

@media screen and (max-width: 730px) {
  .header {
    text-align: center; }
    .header__left {
      float: none; }
    .header__right {
      float: none; }
  .callback {
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 25px; } }

.nav {
  background: #2e3644;
  padding: 22px 0;
  color: #fee1bb;
  text-align: center; }
  .nav__title {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    display: none; }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 24px;
    border-right: 1px solid #968c80; }
    .nav__item:first-child {
      padding-left: 0; }
    .nav__item:last-child {
      padding-right: 0;
      border-right: none; }
  .nav__link:hover, .nav__link.active {
    color: #ffa201; }

@media screen and (max-width: 1000px) {
  .nav {
    font-size: 11px; }
    .nav__item {
      padding: 0 10px; } }

@media screen and (max-width: 740px) {
  .nav {
    text-align: left; }
    .nav .wrapper {
      width: 280px; }
    .nav__title {
      display: block; }
      .nav__title:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 22px;
        background: url(../img/nav.png) 0 0 no-repeat;
        margin-right: 15px; }
      .nav__title.js-active:before {
        background: url(../img/close-nav.png) 0 0 no-repeat; }
    .nav__list {
      display: none;
      margin-top: 20px; }
    .nav__item {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 48px;
      border: none;
      padding-left: 0; } }

.footer {
  position: relative;
  width: 100%;
  background: #2e3644;
  padding: 30px 0 22px; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer__left {
    max-width: 180px;
    float: left;
    position: relative; }
  .footer__addres {
    color: #acaeb2;
    margin-bottom: 18px; }
  .footer__phone {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 6px; }
  .footer__callback {
    color: #fee1bb;
    text-decoration: underline;
    margin-bottom: 17px;
    display: inline-block; }
    .footer__callback:hover {
      text-decoration: none; }
  .footer__mail {
    color: #fee1bb;
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__right {
    float: right;
    max-width: 655px;
    width: 100%; }
  .footer__search {
    display: block;
    width: 100%;
    border-bottom: 1px solid #968c80;
    box-sizing: border-box !important;
    padding-left: 25px;
    padding-bottom: 10px;
    background: url(../img/search.png) 0 2px no-repeat;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fee1bb;
    margin-bottom: 18px; }
    .footer__search::-webkit-input-placeholder {
      color: #898078; }
    .footer__search:-moz-placeholder {
      color: #898078; }
    .footer__search::-moz-placeholder {
      color: #898078; }
    .footer__search:-ms-input-placeholder {
      color: #898078; }
  .footer__block {
    display: inline-block;
    vertical-align: top;
    margin-right: 85px; }
    .footer__block:last-child {
      margin-right: 0; }
  .footer__list {
    margin-bottom: 30px; }
  .footer__item {
    font-weight: 300;
    color: #acaeb2;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__item:hover {
      text-decoration: none; }
    .footer__item--title {
      color: #fee1bb;
      text-decoration: none; }
  .footer__links {
    color: #fff; }
  .footer__map {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__map:hover {
      text-decoration: none; }
  .footer__feedback {
    display: block;
    text-decoration: underline; }
    .footer__feedback:hover {
      text-decoration: none; }
  .footer__up {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: none; }
    .footer__up:before {
      content: '';
      width: 50px;
      height: 50px;
      background: url(../img/up.png) 0 0 no-repeat;
      display: block;
      margin-bottom: 2px; }

.social {
  margin-top: 52px;
  margin-bottom: 43px; }
  .social__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px; }

@media screen and (max-width: 1000px) {
  .footer__right {
    max-width: 490px; }
  .footer__left {
    margin-left: 25px; }
  .footer__block {
    margin-right: 30px; }
  .footer__item, .footer__links {
    font-size: 11px; } }

@media screen and (max-width: 740px) {
  .footer .wrapper {
    width: 280px; }
  .footer__block {
    display: block; }
  .footer__right {
    margin-bottom: 25px;
    float: none; }
  .footer__left {
    float: none;
    margin-left: 0; }
  .footer__up {
    display: block; } }

.slick-slider {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%; }

.slick-next,
.slick-prev {
  z-index: 1;
  width: 37px;
  height: 37px; }

.slick-next {
  right: 19px; }

.slick-prev {
  left: 19px; }

.slick-prev:before,
.slick-next:before {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  opacity: 1; }

.slick-prev:before {
  background: url(../img/prev.png) 0 0 no-repeat; }

.slick-next:before {
  background: url(../img/next.png) 0 0 no-repeat; }

.slick-dots {
  bottom: 10px; }
  .slick-dots li {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 100px; }
    .slick-dots li:hover, .slick-dots li.slick-active {
      background: #ffa200; }
    .slick-dots li button {
      display: none; }

.advantages {
  width: 50%;
  float: left;
  background: #2e3644;
  padding: 40px 20px 40px 50px;
  text-align: center;
  margin-bottom: 70px;
  position: relative; }
  .advantages:before, .advantages:after {
    content: " ";
    display: table; }
  .advantages:after {
    clear: both; }
  .advantages__block:before, .advantages__block:after {
    content: " ";
    display: table; }
  .advantages__block:after {
    clear: both; }
  .advantages__title {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 45px; }
  .advantages__column {
    float: left;
    max-width: 180px;
    margin-right: 55px;
    color: #fff;
    text-align: left; }
    .advantages__column:last-child {
      margin-right: 0;
      max-width: 172px; }
  .advantages .button {
    display: inline-block; }
  .advantages .potato {
    position: absolute;
    left: -116px;
    bottom: -51px; }

.info-list__item {
  margin-bottom: 40px; }

.info-list__img {
  margin-bottom: 8px; }

.info-list__title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px; }

.info-list__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px; }

@media screen and (max-width: 1000px) {
  .advantages {
    padding: 35px 20px; }
    .advantages__column, .advantages__column:last-child {
      max-width: 155px; }
    .advantages__column {
      margin-right: 20px; }
  .info-list__title, .info-list__text {
    font-size: 12px; } }

@media screen and (max-width: 740px) {
  .advantages {
    width: 100%;
    float: none;
    margin-bottom: 0; }
    .advantages__title {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 30px; }
    .advantages__block {
      max-width: 320px;
      margin: 0 auto; }
    .advantages__column, .advantages__column:last-child {
      max-width: 100%;
      margin-right: 0; }
    .advantages .potato {
      display: none; }
  .info-list__img-block {
    display: inline-block;
    vertical-align: top;
    width: 45px; }
  .info-list__block {
    width: 220px;
    display: inline-block;
    vertical-align: top; } }

/* --------- section --------- */
.first-block {
  height: 300px;
  overflow: hidden; }

.main-slider__title {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 92px;
  margin-left: 122px; }

.main-slider__slide {
  width: 100%;
  height: 300px;
  background-size: cover; }
  .main-slider__slide1 {
    background: url(../img/main-slide1.jpg) 0 0 no-repeat; }
  .main-slider__slide2 {
    background: url(../img/main-slide1.jpg) 0 0 no-repeat; }
  .main-slider__slide3 {
    background: url(../img/main-slide1.jpg) 0 0 no-repeat; }
  .main-slider__slide4 {
    background: url(../img/main-slide1.jpg) 0 0 no-repeat; }

@media screen and (max-width: 750px) {
  .first-block {
    display: none; } }

.association {
  width: 50%;
  float: left;
  padding: 40px 50px 40px 20px; }
  .association__title {
    font-weight: 700; }
    .association__title .big-text {
      font-size: 30px;
      line-height: 33px;
      color: #414a5b;
      margin-bottom: 10px; }
    .association__title .small-text {
      font-size: 12px;
      line-height: 15px;
      color: #7f7f7f;
      text-transform: uppercase;
      margin-bottom: 47px; }
  .association__text .text {
    font-size: 13px;
    color: #263343;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 15px; }
  .association .arrow-button {
    margin-bottom: 118px; }

.quote {
  position: relative; }
  .quote:before {
    content: '';
    position: absolute;
    top: -16px;
    left: -20px;
    width: 49px;
    height: 32px;
    background: url(../img/quote.png) 0 0 no-repeat; }
  .quote__text {
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    color: #ea9500;
    margin-bottom: 37px; }
  .quote__img {
    display: inline-block;
    vertical-align: top; }
  .quote__author {
    display: inline-block;
    vertical-align: top;
    float: right;
    text-align: right;
    font-size: 13px;
    line-height: 18px;
    color: #2e3644; }
  .quote__position {
    font-weight: 300;
    margin-bottom: 2px; }
  .quote__name {
    font-weight: 700; }

@media screen and (max-width: 1000px) {
  .association .arrow-button {
    margin-bottom: 35px; }
  .quote__text {
    margin-bottom: 15px; } }

@media screen and (max-width: 740px) {
  .association {
    width: 100%;
    float: none;
    padding-left: 20px;
    padding-right: 20px; }
    .association .arrow-button {
      margin-bottom: 45px; }
  .quote__text {
    margin-bottom: 30px; }
  .arrow-button {
    margin-bottom: 55px; } }

.articles {
  background: url(../img/potato-pattern.jpg) 0 0 repeat; }
  .articles__block {
    border: 5px solid #ffa200;
    background: #fff;
    padding: 30px 20px 30px 30px; }
  .articles__header {
    margin-bottom: 50px; }
    .articles__header:before, .articles__header:after {
      content: " ";
      display: table; }
    .articles__header:after {
      clear: both; }
  .articles__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px; }
    .articles__item:last-child {
      float: right;
      margin-top: 10px; }
      .articles__item:last-child .articles__link {
        border: none;
        font-size: 13px;
        font-weight: 400;
        color: #ffa200; }
    .articles__item.js-active .articles__link {
      color: #fff;
      background: #ffa200;
      padding: 10px 20px;
      border: none;
      border-radius: 50px; }
  .articles__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #414a5b;
    line-height: 21px;
    border-bottom: 1px dashed #414a5b;
    font-weight: 700; }
    .articles__link:hover {
      border: none; }
  .articles__news {
    margin-bottom: 25px; }
    .articles__news:before, .articles__news:after {
      content: " ";
      display: table; }
    .articles__news:after {
      clear: both; }
  .articles .js-article-list {
    display: none; }
    .articles .js-article-list.js-active {
      display: block; }

.news {
  float: left;
  max-width: 270px;
  margin-right: 55px; }
  .news:last-child {
    margin-right: 0; }
  .news__date {
    font-size: 13px;
    line-height: 18px;
    color: #a6afba;
    margin-bottom: 8px; }
  .news__title {
    margin-bottom: 10px; }
    .news__title:before, .news__title:after {
      content: " ";
      display: table; }
    .news__title:after {
      clear: both; }
    .news__title-text {
      color: #263343;
      font-size: 13px;
      line-height: 18px;
      text-decoration: underline;
      font-weight: 700; }
      .news__title-text:hover {
        text-decoration: none; }
  .news__img {
    float: left;
    margin-right: 18px; }
  .news__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px; }

@media screen and (max-width: 1000px) {
  .articles__news .news:last-child {
    display: none; }
  .articles__news .news {
    margin-right: 100px; }
  .articles__news .news:nth-child(2) {
    margin-right: 0; } }

@media screen and (max-width: 740px) {
  .articles__header {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 0; }
  .articles__block {
    border: none;
    padding-left: 20px; }
  .articles__item {
    display: block;
    width: auto;
    margin-bottom: 20px;
    margin-right: 0; }
    .articles__item.js-active {
      margin-left: -20px; }
    .articles__item .articles__link {
      display: inline-block;
      width: auto; }
      .articles__item .articles__link.arrow-button {
        display: none; }
  .articles__news .news {
    margin-right: 0;
    margin-bottom: 20px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    float: none; }
  .articles__news .news:nth-child(2) {
    margin: 0 auto;
    margin-bottom: 30px; }
  .articles__news .news:last-child {
    display: block; } }

.partners {
  text-align: center;
  padding-top: 35px; }
  .partners__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 35px; }
  .partners-slider {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 65px; }
    .partners-slider__slide {
      margin-right: 30px;
      line-height: 60px; }
    .partners-slider__img {
      display: inline-block !important;
      vertical-align: middle; }
    .partners-slider .slick-next {
      right: -50px; }
    .partners-slider .slick-prev {
      left: -50px; }
    .partners-slider .slick-prev:before {
      background: url(../img/partner-prev.png) 0 0 no-repeat; }
    .partners-slider .slick-next:before {
      background: url(../img/partner-next.png) 0 0 no-repeat; }
    .partners-slider .slick-dots {
      bottom: -35px; }
      .partners-slider .slick-dots li {
        background: #c3c8d1; }
        .partners-slider .slick-dots li:hover, .partners-slider .slick-dots li.slick-active {
          background: #ffa200; }

.subscribe {
  display: none; }

@media screen and (max-width: 1000px) {
  .partners-slider {
    max-width: 625px; } }

@media screen and (max-width: 740px) {
  .partners {
    padding-top: 5px; }
    .partners-slider {
      max-width: 300px; }
      .partners-slider .slick-next {
        right: 50%;
        top: 155%;
        margin-right: -60px; }
      .partners-slider .slick-prev {
        left: 50%;
        top: 155%;
        margin-left: -60px; } }

.subscribe {
  width: 320px;
  background: #efefef;
  padding: 20px;
  padding-top: 17px;
  margin-top: 25px; }
  .subscribe__title {
    font-size: 15px;
    line-height: 18px;
    color: #001616;
    font-weight: 700;
    margin-bottom: 10px; }
  .subscribe__input {
    background: #fff;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #a3a6a6;
    width: 230px; }
  .subscribe__button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fea002;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px; }
    .subscribe__button:hover {
      background: #ffb93f; }
    .subscribe__button:active {
      background: #d58700; }

.bottom-subscribe .subscribe {
  display: none; }

@media screen and (max-width: 1000px) {
  .subscribe {
    display: none; }
  .bottom-subscribe .subscribe {
    display: block; }
  .bottom-subscribe .subscribe {
    display: block;
    width: 100% !important;
    margin-top: 10px !important; }
    .bottom-subscribe .subscribe__input {
      width: 90% !important; }
    .bottom-subscribe .subscribe__button {
      color: #000; } }

@media screen and (max-width: 740px) {
  .wrapper__column--right .subscribe {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 10px; }
    .wrapper__column--right .subscribe__input {
      width: 77%; }
  .bottom-subscribe .subscribe__input {
    width: 80% !important; } }
