@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic&subset=cyrillic-ext,cyrillic,latin-ext,latin);
/* fonts end */
/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

button {
  outline: none;
  border: none;
  background: none; }

img {
  display: block; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #263343; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }
  .main--content {
    display: table-row;
    height: 100%; }

/* defaul style end  */
.wrapper {
  width: 100%;
  max-width: 988px;
  margin: 0 auto; }

.button {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #ffa200;
  padding: 13px 20px;
  border-radius: 40px;
  display: block; }

.header {
  padding: 18px 0 20px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header__left {
    float: left;
    margin-top: 7px; }
  .header__right {
    float: right; }
  .header__mail {
    font-size: 14px;
    line-height: 17px;
    color: #2e3644;
    text-decoration: underline;
    margin-top: 12px;
    display: block; }
    .header__mail:hover {
      text-decoration: none; }
    .header__mail::before {
      content: '';
      background: url(../img/mail.png) 0 0 no-repeat;
      width: 17px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  .logo__img {
    width: 241px;
    height: 46px; }

.callback {
  display: inline-block;
  vertical-align: top;
  margin-left: 190px;
  margin-top: 9px; }
  .callback__number {
    font-size: 24px;
    line-height: 27px;
    color: #2e3644;
    font-weight: 600;
    margin-bottom: 12px; }
    .callback__number::before {
      content: '';
      width: 31px;
      height: 31px;
      background: url(../img/phone.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px; }
  .callback__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #ffa200;
    padding-left: 44px;
    text-decoration: underline; }
    .callback__link:hover {
      text-decoration: none; }

.nav {
  background: #2e3644;
  padding: 22px 0;
  color: #fee1bb;
  text-align: center; }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 24px;
    border-right: 1px solid #968c80; }
    .nav__item:first-child {
      padding-left: 0; }
    .nav__item:last-child {
      padding-right: 0;
      border-right: none; }
  .nav__link:hover, .nav__link.active {
    color: #ffa201; }

.footer {
  width: 100%;
  background: #2e3644;
  padding: 30px 0 22px; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer__left {
    max-width: 180px;
    float: left; }
  .footer__addres {
    color: #acaeb2;
    margin-bottom: 18px; }
  .footer__phone {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 6px; }
  .footer__callback {
    color: #fee1bb;
    text-decoration: underline;
    margin-bottom: 17px;
    display: inline-block; }
    .footer__callback:hover {
      text-decoration: none; }
  .footer__mail {
    color: #fee1bb;
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__right {
    float: right;
    max-width: 655px;
    width: 100%; }
  .footer__search {
    display: block;
    width: 100%;
    border-bottom: 1px solid #968c80;
    box-sizing: border-box !important;
    padding-left: 25px;
    padding-bottom: 10px;
    background: url(../img/search.png) 0 2px no-repeat;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fee1bb;
    margin-bottom: 18px; }
    .footer__search::-webkit-input-placeholder {
      color: #fee1bb; }
    .footer__search:-moz-placeholder {
      color: #fee1bb; }
    .footer__search::-moz-placeholder {
      color: #fee1bb; }
    .footer__search:-ms-input-placeholder {
      color: #fee1bb; }
  .footer__block {
    display: inline-block;
    vertical-align: top;
    margin-right: 85px; }
    .footer__block:last-child {
      margin-right: 0; }
  .footer__list {
    margin-bottom: 30px; }
  .footer__item {
    font-weight: 300;
    color: #acaeb2;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__item:hover {
      text-decoration: none; }
    .footer__item--title {
      color: #fee1bb;
      text-decoration: none; }
  .footer__links {
    color: #fff; }
  .footer__map {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__map:hover {
      text-decoration: none; }
  .footer__feedback {
    display: block;
    text-decoration: underline; }
    .footer__feedback:hover {
      text-decoration: none; }

.social {
  margin-top: 52px;
  margin-bottom: 43px; }
  .social__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px; }
