@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic&subset=cyrillic-ext,cyrillic,latin-ext,latin);
/* fonts end */
/* --------- main --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

button {
  outline: none;
  border: none;
  background: none; }

img {
  display: block; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:focus {
  outline: 0; }

body {
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #263343; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }
  .main--content {
    display: table-row;
    height: 100%; }

form input {
  border: 2px solid transparent; }

form .js-error {
  border: 2px solid #c84855; }

/* defaul style end  */
.content {
  padding-top: 57px;
  width: 100%; }

.wrapper {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
  position: relative; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper__column {
    float: left; }
    .wrapper__column--right {
      float: right; }

.aside {
  width: 100%;
  max-width: 320px; }

.first-block {
  background: #efefef; }

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 768px;
    padding: 0 10px; }
    .wrapper__column {
      float: none; }
      .wrapper__column--right {
        float: none;
        padding: 70px;
        padding-top: 20px;
        padding-bottom: 0; }
  .aside {
    max-width: 100%;
    padding-left: 70px; } }

@media screen and (max-width: 740px) {
  .wrapper {
    padding: 0;
    margin: 0 auto; }
    .wrapper__column {
      padding: 0 20px; }
      .wrapper__column--right {
        padding: 0 20px; }
  .aside {
    max-width: 280px;
    margin: 0 auto;
    padding-left: 0; } }

.section {
  width: 100%;
  overflow: hidden; }
  .section--right {
    width: 590px; }

.section-title__date {
  color: #b1b1b1;
  margin-bottom: 12px; }

.section-title__subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #001616;
  margin-bottom: 10px; }

.section-title__title {
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 12px; }
  .section-title__title--link:hover {
    color: #ffa200;
    text-decoration: underline; }

.section-title__text {
  font-size: 13px;
  line-height: 20px;
  color: #001616;
  font-weight: 400;
  margin-bottom: 15px; }
  .section-title__text--light {
    font-weight: 300; }

.section-title__italic {
  font-style: italic; }

.section-title__bold {
  font-weight: 700; }

.section-title__link {
  color: #fea002;
  text-decoration: underline; }
  .section-title__link:hover {
    color: #cb7f00; }

.section-title__title {
  font-size: 22px;
  font-weight: 700;
  color: #001616;
  line-height: 25px;
  margin-bottom: 20px; }
  .section-title__title--normal {
    font-weight: 400; }

.section-columns {
  margin-bottom: 30px; }
  .section-columns:before, .section-columns:after {
    content: " ";
    display: table; }
  .section-columns:after {
    clear: both; }
  .section-columns__column {
    float: left;
    max-width: 245px; }
    .section-columns__column:last-child {
      float: right; }
  .section-columns__img {
    margin-top: 25px; }
  .section-columns__title {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 12px; }
    .section-columns__title--link:hover {
      color: #ffa200;
      text-decoration: underline; }
  .section-columns__text {
    font-size: 13px;
    line-height: 20px;
    color: #001616;
    font-weight: 400;
    margin-bottom: 15px; }
    .section-columns__text--light {
      font-weight: 300; }
  .section-columns__italic {
    font-style: italic; }
  .section-columns__bold {
    font-weight: 700; }
  .section-columns__link {
    color: #fea002;
    text-decoration: underline; }
    .section-columns__link:hover {
      color: #cb7f00; }

.section-table {
  margin-bottom: 20px; }
  .section-table__table {
    border-collapse: collapse;
    font-size: 11px; }
  .section-table__move {
    display: none;
    margin-bottom: 20px;
    margin-top: 10px; }
  .section-table__th {
    border: 1px solid #c2c2c2;
    padding: 10px 14px;
    text-align: left;
    font-weight: 400;
    background: #efefef; }
    .section-table__th:nth-child(2) {
      width: 175px; }
    .section-table__th:nth-child(5) {
      width: 145px; }
    .section-table__th:nth-child(n+3) {
      text-align: center; }
  .section-table__td {
    border: 1px solid #c2c2c2;
    text-align: left;
    padding: 10px 14px; }
    .section-table__td:first-child {
      vertical-align: top; }
    .section-table__td:nth-child(n+3) {
      text-align: center; }
  .section-table__title {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 12px; }
    .section-table__title--link:hover {
      color: #ffa200;
      text-decoration: underline; }
  .section-table__text {
    font-size: 13px;
    line-height: 20px;
    color: #001616;
    font-weight: 400;
    margin-bottom: 15px; }
    .section-table__text--light {
      font-weight: 300; }
  .section-table__italic {
    font-style: italic; }
  .section-table__bold {
    font-weight: 700; }
  .section-table__link {
    color: #fea002;
    text-decoration: underline; }
    .section-table__link:hover {
      color: #cb7f00; }

.section-list {
  margin-bottom: 20px; }
  .section-list__list {
    list-style: inherit;
    padding-left: 50px;
    color: #ffa201;
    font-size: 15px;
    font-weight: 700; }
    .section-list__list--ul {
      list-style-type: disc; }
    .section-list__list--ol {
      list-style-type: decimal; }
  .section-list__title {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 12px; }
    .section-list__title--link:hover {
      color: #ffa200;
      text-decoration: underline; }
  .section-list__text {
    font-size: 13px;
    line-height: 20px;
    color: #001616;
    font-weight: 400;
    margin-bottom: 15px; }
    .section-list__text--light {
      font-weight: 300; }
  .section-list__italic {
    font-style: italic; }
  .section-list__bold {
    font-weight: 700; }
  .section-list__link {
    color: #fea002;
    text-decoration: underline; }
    .section-list__link:hover {
      color: #cb7f00; }
  .section-list__text {
    line-height: 18px;
    padding-left: 10px; }

.section-documents {
  margin-bottom: 30px; }
  .section-documents__title {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 12px; }
    .section-documents__title--link:hover {
      color: #ffa200;
      text-decoration: underline; }
  .section-documents__text {
    font-size: 13px;
    line-height: 20px;
    color: #001616;
    font-weight: 400;
    margin-bottom: 15px; }
    .section-documents__text--light {
      font-weight: 300; }
  .section-documents__italic {
    font-style: italic; }
  .section-documents__bold {
    font-weight: 700; }
  .section-documents__link {
    color: #fea002;
    text-decoration: underline; }
    .section-documents__link:hover {
      color: #cb7f00; }
  .section-documents__document {
    margin-left: 35px;
    margin-bottom: 12px; }
  .section-documents__link:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 17px;
    height: 16px; }
  .section-documents__link--word:before {
    background: url(../img/word.png) 0 0 no-repeat; }
  .section-documents__link--excel:before {
    background: url(../img/excel.png) 0 0 no-repeat; }
  .section-documents__link--jpeg:before {
    background: url(../img/jpeg.png) 0 0 no-repeat; }

@media screen and (max-width: 1000px) {
  .section--right {
    width: 100%; } }

@media screen and (max-width: 740px) {
  .section--right {
    max-width: 280px;
    margin: 0 auto; }
  .section-title__title {
    font-size: 18px;
    margin-bottom: 15px; }
  .section-title__subtitle {
    font-size: 18px; }
  .section-columns__column {
    float: none;
    margin-bottom: 25px; }
    .section-columns__column:last-child {
      float: none;
      margin-bottom: 0; }
  .section-table {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: scroll; }
    .section-table__table {
      width: 570px; }
    .section-table__move {
      display: block; }
  .section-list__list {
    padding-left: 21px; } }

.button {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #ffa200;
  padding: 13px 20px;
  border-radius: 40px;
  display: inline-block; }
  .button:hover {
    background: #ffb93f; }
  .button:active {
    background: #d58700; }

.arrow-button {
  font-size: 12px;
  line-height: 15px;
  color: #ffa200;
  display: inline-block; }
  .arrow-button:after, .arrow-button:before {
    content: '';
    width: 41px;
    height: 9px;
    vertical-align: middle;
    display: none; }
  .arrow-button:after {
    background: url(../img/association-link.png) 0 0 no-repeat;
    display: inline-block;
    margin-left: 7px; }
  .arrow-button--left:after {
    display: none; }
  .arrow-button--left:before {
    background: url(../img/association-link--left.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 7px; }

.button-news {
  font-size: 13px;
  line-height: 17px;
  border: 2px solid #ffa200;
  padding: 12px 10px 12px 20px;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  width: 145px;
  vertical-align: middle; }
  .button-news:after {
    content: '';
    background: url(../img/tick.png) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -2px; }

.header {
  padding: 18px 0 20px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header__left {
    float: left;
    margin-top: 7px; }
  .header__right {
    float: right; }
  .header__mail {
    font-size: 14px;
    line-height: 17px;
    color: #2e3644;
    text-decoration: underline;
    margin-top: 12px;
    display: block; }
    .header__mail:hover {
      text-decoration: none; }
    .header__mail::before {
      content: '';
      background: url(../img/mail.png) 0 0 no-repeat;
      width: 17px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  .logo__img {
    width: 241px;
    height: 46px; }

.callback {
  display: inline-block;
  vertical-align: top;
  margin-left: 190px;
  margin-top: 9px; }
  .callback__number {
    font-size: 24px;
    line-height: 27px;
    color: #2e3644;
    font-weight: 600;
    margin-bottom: 12px; }
    .callback__number::before {
      content: '';
      width: 31px;
      height: 31px;
      background: url(../img/phone.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px; }
  .callback__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #ffa200;
    padding-left: 44px;
    text-decoration: underline; }
    .callback__link:hover {
      text-decoration: none; }

@media screen and (max-width: 1000px) {
  .callback {
    margin-left: 20px; } }

@media screen and (max-width: 730px) {
  .header {
    text-align: center; }
    .header__left {
      float: none; }
    .header__right {
      float: none; }
  .callback {
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 25px; } }

.nav {
  background: #2e3644;
  padding: 22px 0;
  color: #fee1bb;
  text-align: center; }
  .nav__title {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    display: none; }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 24px;
    border-right: 1px solid #968c80; }
    .nav__item:first-child {
      padding-left: 0; }
    .nav__item:last-child {
      padding-right: 0;
      border-right: none; }
  .nav__link:hover, .nav__link.active {
    color: #ffa201; }

@media screen and (max-width: 1000px) {
  .nav {
    font-size: 11px; }
    .nav__item {
      padding: 0 10px; } }

@media screen and (max-width: 740px) {
  .nav {
    text-align: left; }
    .nav .wrapper {
      width: 280px; }
    .nav__title {
      display: block; }
      .nav__title:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 22px;
        background: url(../img/nav.png) 0 0 no-repeat;
        margin-right: 15px; }
      .nav__title.js-active:before {
        background: url(../img/close-nav.png) 0 0 no-repeat; }
    .nav__list {
      display: none;
      margin-top: 20px; }
    .nav__item {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 48px;
      border: none;
      padding-left: 0; } }

.footer {
  position: relative;
  width: 100%;
  background: #2e3644;
  padding: 30px 0 22px; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer__left {
    max-width: 180px;
    float: left; }
  .footer__addres {
    color: #acaeb2;
    margin-bottom: 18px; }
  .footer__phone {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 6px; }
  .footer__callback {
    color: #fee1bb;
    text-decoration: underline;
    margin-bottom: 17px;
    display: inline-block; }
    .footer__callback:hover {
      text-decoration: none; }
  .footer__mail {
    color: #fee1bb;
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__right {
    float: right;
    max-width: 655px;
    width: 100%; }
  .footer__search {
    display: block;
    width: 100%;
    border-bottom: 1px solid #968c80;
    box-sizing: border-box !important;
    padding-left: 25px;
    padding-bottom: 10px;
    background: url(../img/search.png) 0 2px no-repeat;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fee1bb;
    margin-bottom: 18px; }
    .footer__search::-webkit-input-placeholder {
      color: #fee1bb; }
    .footer__search:-moz-placeholder {
      color: #fee1bb; }
    .footer__search::-moz-placeholder {
      color: #fee1bb; }
    .footer__search:-ms-input-placeholder {
      color: #fee1bb; }
  .footer__block {
    display: inline-block;
    vertical-align: top;
    margin-right: 85px; }
    .footer__block:last-child {
      margin-right: 0; }
  .footer__list {
    margin-bottom: 30px; }
  .footer__item {
    font-weight: 300;
    color: #acaeb2;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__item:hover {
      text-decoration: none; }
    .footer__item--title {
      color: #fee1bb;
      text-decoration: none; }
  .footer__links {
    color: #fff; }
  .footer__map {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline; }
    .footer__map:hover {
      text-decoration: none; }
  .footer__feedback {
    display: block;
    text-decoration: underline; }
    .footer__feedback:hover {
      text-decoration: none; }

.social {
  margin-top: 52px;
  margin-bottom: 43px; }
  .social__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px; }

@media screen and (max-width: 1000px) {
  .footer__right {
    max-width: 490px; }
  .footer__left {
    margin-left: 25px; }
  .footer__block {
    margin-right: 30px; }
  .footer__item, .footer__links {
    font-size: 11px; } }

@media screen and (max-width: 740px) {
  .footer .wrapper {
    width: 280px; }
  .footer__block {
    display: block; }
  .footer__right {
    margin-bottom: 25px;
    float: none; }
  .footer__left {
    float: none;
    margin-left: 0; } }

.slick-slider {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%; }

.slick-next,
.slick-prev {
  z-index: 1;
  width: 37px;
  height: 37px; }

.slick-next {
  right: 19px; }

.slick-prev {
  left: 19px; }

.slick-prev:before,
.slick-next:before {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  opacity: 1; }

.slick-prev:before {
  background: url(../img/prev.png) 0 0 no-repeat; }

.slick-next:before {
  background: url(../img/next.png) 0 0 no-repeat; }

.slick-dots {
  bottom: 10px; }
  .slick-dots li {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 100px; }
    .slick-dots li:hover, .slick-dots li.slick-active {
      background: #ffa200; }
    .slick-dots li button {
      display: none; }

.advantages {
  width: 50%;
  float: left;
  background: #2e3644;
  padding: 40px 20px 40px 50px;
  text-align: center;
  margin-bottom: 70px;
  position: relative; }
  .advantages:before, .advantages:after {
    content: " ";
    display: table; }
  .advantages:after {
    clear: both; }
  .advantages__block:before, .advantages__block:after {
    content: " ";
    display: table; }
  .advantages__block:after {
    clear: both; }
  .advantages__title {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 45px; }
  .advantages__column {
    float: left;
    max-width: 180px;
    margin-right: 55px;
    color: #fff;
    text-align: left; }
    .advantages__column:last-child {
      margin-right: 0;
      max-width: 172px; }
  .advantages .button {
    display: inline-block; }
  .advantages .potato {
    position: absolute;
    left: -116px;
    bottom: -51px; }

.info-list__item {
  margin-bottom: 40px; }

.info-list__img {
  margin-bottom: 8px; }

.info-list__title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px; }

.info-list__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px; }

@media screen and (max-width: 1000px) {
  .advantages {
    padding: 35px 20px; }
    .advantages__column, .advantages__column:last-child {
      max-width: 155px; }
    .advantages__column {
      margin-right: 20px; }
  .info-list__title, .info-list__text {
    font-size: 12px; } }

@media screen and (max-width: 740px) {
  .advantages {
    width: 100%;
    float: none;
    margin-bottom: 0; }
    .advantages__title {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 30px; }
    .advantages__block {
      max-width: 320px;
      margin: 0 auto; }
    .advantages__column, .advantages__column:last-child {
      max-width: 100%;
      margin-right: 0; }
    .advantages .potato {
      display: none; }
  .info-list__img-block {
    display: inline-block;
    vertical-align: top;
    width: 45px; }
  .info-list__block {
    width: 220px;
    display: inline-block;
    vertical-align: top; } }

/* --------- section --------- */
.subscribe {
  width: 320px;
  background: #efefef;
  padding: 20px;
  padding-top: 17px;
  margin-top: 25px; }
  .subscribe__title {
    font-size: 15px;
    line-height: 18px;
    color: #001616;
    font-weight: 700;
    margin-bottom: 10px; }
  .subscribe__input {
    background: #fff;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #a3a6a6;
    width: 230px; }
  .subscribe__button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fea002;
    color: #001616;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px; }
    .subscribe__button:hover {
      background: #ffb93f; }
    .subscribe__button:active {
      background: #d58700; }

.bottom-subscribe .subscribe {
  display: none; }

@media screen and (max-width: 1000px) {
  .subscribe {
    display: none; } }

@media screen and (max-width: 740px) {
  .wrapper__column--right .subscribe {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 10px; }
    .wrapper__column--right .subscribe__input {
      width: 77%; }
  .bottom-subscribe .subscribe {
    display: block;
    width: 100% !important;
    margin-top: 10px !important; }
    .bottom-subscribe .subscribe__input {
      width: 80% !important; } }

.aside-menu__item {
  margin-bottom: 17px; }

.aside-menu__link {
  font-size: 15px;
  line-height: 18px;
  color: #001616;
  text-transform: uppercase;
  display: block;
  text-decoration: underline;
  font-weight: 600; }
  .aside-menu__link:hover {
    color: #fea002; }
  .aside-menu__link:before {
    content: '';
    border: 5px solid transparent;
    border-left: 5px solid #2e3644;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; }
  .aside-menu__link.active {
    color: #fea002;
    text-decoration: none; }
    .aside-menu__link.active:before {
      border-left-color: #fea002; }

@media screen and (max-width: 740px) {
  .aside-menu {
    margin-bottom: 30px; } }

.pages {
  width: 100%;
  background: #efefef;
  font-size: 0;
  padding: 0 13px;
  text-align: center;
  margin-bottom: 30px; }
  .pages__page {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 27px;
    width: 31px;
    height: 31px; }
    .pages__page:first-child, .pages__page:last-child {
      width: auto; }
      .pages__page:first-child .pages__link, .pages__page:last-child .pages__link {
        border: none; }
    .pages__page:first-child {
      margin-right: 30px;
      float: left; }
    .pages__page:last-child {
      margin-left: 30px;
      float: right; }
    .pages__page .arrow-button {
      line-height: 30px; }
  .pages__link {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    display: block; }
    .pages__link:hover, .pages__link.active {
      border: 2px solid #004376; }
  .pages__dots {
    font-size: 19px;
    letter-spacing: 2px; }

@media screen and (max-width: 1000px) {
  .pages-list {
    width: 100%; } }

@media screen and (max-width: 740px) {
  .pages {
    padding: 0 5px; }
    .pages__page {
      display: none;
      line-height: 22px;
      width: 25px;
      height: 25px; }
      .pages__page .arrow-button {
        line-height: 26px; }
      .pages__page--mobile {
        display: inline-block;
        vertical-align: top; }
      .pages__page:first-child, .pages__page:last-child {
        margin: 0; } }

.companies__search {
  font-size: 0;
  margin-bottom: 40px; }
  .companies__search:before, .companies__search:after {
    content: " ";
    display: table; }
  .companies__search:after {
    clear: both; }

.companies__link {
  font-size: 13px;
  color: #2e3644;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px; }
  .companies__link:last-child {
    margin-right: 0; }
  .companies__link:hover {
    text-decoration: none; }
  .companies__link.active {
    color: #fea002;
    text-decoration: none; }
  .companies__link:first-child {
    margin-right: 20px; }

@media screen and (max-width: 740px) {
  .companies__link {
    font-size: 18px;
    margin-bottom: 20px; }
    .companies__link:first-child {
      margin-top: 20px;
      display: block; } }

.partner {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin-right: 90px;
  margin-bottom: 35px; }
  .partner:nth-child(2n) {
    margin-right: 0; }
  .partner__top {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 14px;
    margin-bottom: 10px;
    height: 50px;
    position: relative; }
  .partner__img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; }
  .partner__block {
    font-size: 13px;
    line-height: 15px;
    color: #000;
    margin-bottom: 8px; }
    .partner__block:before, .partner__block:after {
      content: " ";
      display: table; }
    .partner__block:after {
      clear: both; }
  .partner__left {
    float: left;
    margin-right: 10px;
    width: 62px; }
  .partner__right {
    float: left;
    width: 165px; }
    .partner__right--link {
      color: #fea002;
      text-decoration: underline; }
      .partner__right--link:hover {
        text-decoration: none; }

@media screen and (max-width: 740px) {
  .partner {
    margin-right: 0; } }
