section.news
  .news__title Заголовок раздела
  
  .news__item
    .news__top
      img.news__img(src="img/news3.jpg", alt="")
      .news__info
        .news__date 15 декабря 2015
        a.news__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
  
  .news__item
    .news__top
      img.news__img(src="img/news4.jpg", alt="")
      .news__info
        .news__date 15 декабря 2015
        a.news__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
    
  .news__item
    .news__top
      .news__info
        .news__date 15 декабря 2015
        a.news__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
    
  .news__item
    .news__top
      img.news__img(src="img/news5.jpg", alt="")
      .news__info
        .news__date 15 декабря 2015
        a.news__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее




  
