/* стили по умолчанию */
a {
	text-decoration: none;
	color: inherit;
}

button {
	outline: none;
	border: none;
	background: none;
}

img {
	display: block;
}

ul {
	list-style: none;
	padding: 0; margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

address {
	font-style: normal;
}

input, textarea {
	outline: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

html {
	height:100%;
	width: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
	outline: 0;
}

body {
	height:100%;
	position: relative;
	font-family: $defaultFontFamily;
	font-size: $defaultFontSize;
	line-height: $defaultLineHeight;
	color: $defaultColor;
}

/* чтобы прибить футер к низу */
.main {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;

	&--content {
		display: table-row;
		height: 100%;
	}
}

form{
	input {
		border: 2px solid transparent;
	}
	.js-error {
		border: 2px solid #c84855;
	}
}

/* defaul style end  */
