section.section-documents
  .section-documents__title Список документов для скачивания:
  .section-documents__document
    a.section-documents__link.section-documents__link--word(href="") Microsoft office word
  .section-documents__document
    a.section-documents__link.section-documents__link--excel(href="") Microsoft office excel
  .section-documents__document
    a.section-documents__link.section-documents__link--jpeg(href="") Картинка в формате jpeg
