section.gallery
  .gallery__title Фотогалерея
  .gallery-for
    .gallery-for__slide.gallery-for__slide1 
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 1) Подпись под фотографией, или название фотографии или всей галереии в две строки
        
    .gallery-for__slide.gallery-for__slide2
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 2) 123  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, in  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        
    .gallery-for__slide.gallery-for__slide3
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 3) 123  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, in
        
    .gallery-for__slide.gallery-for__slide4
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 4) 123  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, in
        
    .gallery-for__slide.gallery-for__slide5
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 5) 123  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, in
        
    .gallery-for__slide.gallery-for__slide6
      img.gallery-for__img(src="img/gallery-slide1.jpg", alt="")
      .gallery-for__text 
        | 6) 123  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, in
    
  .gallery-nav
    .gallery-nav__slide.gallery-nav__slide1 1
    .gallery-nav__slide.gallery-nav__slide2 2
    .gallery-nav__slide.gallery-nav__slide3 3
    .gallery-nav__slide.gallery-nav__slide4 4
    .gallery-nav__slide.gallery-nav__slide5 5
    .gallery-nav__slide.gallery-nav__slide6 6
      
