section.section-list
  .section-list__title Список документов обычный:
  ol.section-list__list.section-list__list--ol
    li.section-list__li
      .section-list__text
        | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один 
        a.section-list__link(href="") фрагмент классической 
        | латыни 45 
    li.section-list__li
      .section-list__text.section-list__italic
        | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. 
        a.section-list__link(href="") Его корни уходят 
        | в один фрагмент классической латыни 45 
