section.section-table
  .section-table__title Таблица со всеми необходимыми данными
  img.section-table__move(src="img/move.png", alt="")
  table.section-table__table
    tr.section-table__tr
      th.section-table__th №
      th.section-table__th 
        | Название колонки написанонное в две строки
      th.section-table__th Колонка №1
      th.section-table__th Колонка №2
      th.section-table__th Колонка №3
      
    tr.section-table__tr
      td.section-table__td 1
      td.section-table__td
        | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один 
      td.section-table__td Численное значение
      td.section-table__td Численное значение
      td.section-table__td Численное значение
      
    tr.section-table__tr
      td.section-table__td 2
      td.section-table__td
        | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один
      td.section-table__td Численное значение
      td.section-table__td Численное значение
      td.section-table__td Численное значение
