.aside-search
  .aside-search__title Вы искали:
  form.aside-search__form
    input.aside-search__input(type="search", placeholder="«Подзаголовок - взятый с потолка")
    button.aside-search__button(type="submit")
  
  .aside-search__subtitle Вы можете изменить запрос поиска
