.advantages
  .advantages__title
    |Преимущества
    br
    |для участников ассоциации
  
  .advantages__block
    .advantages__column
      ul.info-list
        +list-item(
          'img/info-list1.png',
          'Информационно-правовая поддержка',
          ['Бесплатные юридические консультации по кадастровому учету и земельной политике',
          'Бесплатные консультации в получении субсидий'])
        
        +list-item(
          'img/info-list2.png',
          'актуальная информация',
          ['Информационные почтовые рассылки на актуальные темы, связанные с картофельным бизнесомй'])
          
        +list-item(
          'img/info-list3.png',
          'специальны условия',
          ['На приобретения семенного материала и сезонного хранения'])

    .advantages__column
      ul.info-list
        +list-item(
          'img/info-list4.png',
          'помощь специалистов',
          ['Агрономическое сопровождение от посева до снятия урожая'])
          
        +list-item(
          'img/info-list5.png',
          'Обучение',
          ['Приглашение на выездные семинары с лучшими мировыми консультантами в агросфере',
          'Консультации высококвалифицированных специалистов, агрономов',
          'Скайп-конференции с ведущими агрономами',
          'Вебинары на агротемы',
          'Обучающие видео-уроки'])
          
  a.button(href="") Стать членом команды

  img.potato(src="img/potato.png", alt="")
