footer.footer
  .wrapper
    .footer__up.js-up Вверх
    .footer__right
      input.footer__search(type="search", placeholder="Поиск по сайту")
      .footer__bottom
        .footer__block
          ul.footer__list
            li.footer__item.footer__item--title
              a.footer__link(href="") Об ассоциации
            li.footer__item
              a.footer__link(href="") Миссия
            li.footer__item
              a.footer__link(href="") Цели
            li.footer__item
              a.footer__link(href="") Устав
            li.footer__item
              a.footer__link(href="") Информация о деятельности
            li.footer__item
              a.footer__link(href="") Преимущества для членов
            li.footer__item
              a.footer__link(href="") Вступить в ассоциацию
            li.footer__item
              a.footer__link(href="") Члены ассоциации
        .footer__block
          ul.footer__list
            li.footer__item.footer__item--title
              a.footer__link(href="") Поддержка фермерства
            li.footer__item
              a.footer__link(href="") Гос. программы
            li.footer__item
              a.footer__link(href="") Законодательство
            li.footer__item
              a.footer__link(href="") Полезная информация
          ul.footer__list
            li.footer__item.footer__item--title
              a.footer__link(href="") Пресс-центр
            li.footer__item
              a.footer__link(href="") Новости
            li.footer__item
              a.footer__link(href="") Статьи
            li.footer__item
              a.footer__link(href="") Аналитические обзоры
        .footer__block
          ul.footer__list
            li.footer__item.footer__item--title
              a.footer__link(href="") Информация о членах
            li.footer__item
              a.footer__link(href="") ИПП
            li.footer__item
              a.footer__link(href="") Консультация агронома
            li.footer__item
              a.footer__link(href="") Участие в семинарах
            li.footer__item
              a.footer__link(href="") Обучающие видео-уроки
            li.footer__item
              a.footer__link(href="") Партнерская программа
          
          .footer__links
            a.footer__map(href="") Карта сайта
            a.footer__feedback(href="") Обратная связь

    .footer__left
      .footer__addres г. Моска, ул. Московская д.1
      .footer__phone 8 800 00-000-00
      a.footer__callback(href="") Заказать обратный звонок
      a.footer__mail(href="") info@mail.ru
      ul.social
        li.social__list
          a.social__link(href="")
            img.social__img(src="img/fb.png", alt="")
        li.social__list
          a.social__link(href="")
            img.social__img(src="img/in.png", alt="")
        li.social__list
          a.social__link(href="")
            img.social__img(src="img/tw.png", alt="")
      img.footer__logo(src="img/logo-footer.png", alt="")
      
      
