header.header
  .wrapper
    .header__left
      a.logo(href="/")
        img.logo__img(src="img/logo.png", alt="")
      
    .callback
      .callback__number 8 800 00-000-00
      a.callback__link(href="") Заказать обратный звонок
    
    .header__right
      button.button Вступить в ассоциацию
      a.header__mail(href="mailto:vlad@htmlbook.ru") info@mail.ru
