block link

-var menu = { 'Главная': 'index.html', 'Об ассоциации': 'mission.html', 'Поддержка производителей овощей': 'contacts.html', 'Информация для участников': 'qwe.html', 'Пресс-центр': 'news-page.html', 'Контакты': 'contacts.html' }

nav.nav
  .wrapper
    .nav__title.js-nav Меню
    ul.nav__list.js-nav-list
      each val, key in menu
        li.nav__item
          a.nav__link(href=val, class={active: selected === key})= key
