.subscribe
  .subscribe__title Подписаться на публикации
  form.js-subscribe-form(action="")
    input.subscribe__input(type="text", placeholder="Ваш e-mail", data-valid="email")
    button.subscribe__button(type="submit") ok
