section.section-title
  .section-title__title Список компаний входящих в состав
  .section-title__subtitle.
    Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
    
  .companies__search
    a.companies__link.active(href="") Все партнеры
    a.companies__link(href="") А
    a.companies__link(href="") Б
    a.companies__link(href="") В
    a.companies__link(href="") Г
    a.companies__link(href="") Д
    a.companies__link(href="") Е
    a.companies__link(href="") Ё
    a.companies__link(href="") Ж
    a.companies__link(href="") З
    a.companies__link(href="") И
    a.companies__link(href="") Й
    a.companies__link(href="") К
    a.companies__link(href="") Л
    a.companies__link(href="") М
    a.companies__link(href="") Н
    a.companies__link(href="") О
    a.companies__link(href="") П
    a.companies__link(href="") Р
    a.companies__link(href="") С
    a.companies__link(href="") Т
    a.companies__link(href="") У
    a.companies__link(href="") ф
    a.companies__link(href="") Х
    a.companies__link(href="") Ц
    a.companies__link(href="") Ч
    a.companies__link(href="") Ш
    a.companies__link(href="") Щ
    a.companies__link(href="") Э
    a.companies__link(href="") Ю
    a.companies__link(href="") Я
