section
  ul.partners
    +partner(
      'img/partner1.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner2.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner1.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner2.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B. Интерфакс - признанный лидер российского информационного рынка в сегменте B2B. Интерфакс - признанный лидер российского информационного рынка в сегменте B2B. Интерфакс - признанный лидер российского информационного рынка в сегменте B2B. Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner1.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner2.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner1.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
    +partner(
      'img/partner2.jpg',
      'Интерфакс - признанный лидер российского информационного рынка в сегменте B2B.',
      'www.interfax.ru',
      'interfax@info.ru'
      )
