section.section-title
  h2.section-title__title Форма подачи заявки
  .section-title__subtitle.
    Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из 
  
  .section-title__text.section-title__text--light.
    Форма подачи заявки с полями "Наименование предприятия", "Адрес", "Индекс, область", "Вид деятельности", "Контактное лицо", "Телефон для связи", e-mail, сайт . Отправка на e-mail с созданием записи в инфоблоке.
  
