section.articles
  .wrapper
    .articles__block
      ul.articles__header
        li.articles__item.js-active
          a.articles__link.js-article(href="") Новости
          
        li.articles__item
          a.articles__link.js-article(href="") Статьи
          
        li.articles__item
          a.articles__link.js-article(href="") Аналитические обзоры
          
        li.articles__item
          a.arrow-button.articles__link(href="") Пресс-центр
          
      ul.articles__news.js-article-list.js-active
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news1.jpg", alt="")
            a.news__title-text(href="").
             Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
          
        li.news
          .news__date 01.01.2015
          .news__title
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
            
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news2.jpg", alt="")
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
  
      ul.articles__news.js-article-list
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news1.jpg", alt="")
            a.news__title-text(href="").
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nam.
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции 
          
        li.news
          .news__date 01.01.2015
          .news__title
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
            
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news2.jpg", alt="")
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное

      ul.articles__news.js-article-list
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news1.jpg", alt="")
            a.news__title-text(href="").
              Lorem ipsum dolor sit amet, consectetur.
            
          .news__text.
             Lorem ipsum dolor sit amet.
          
        li.news
          .news__date 01.01.2015
          .news__title
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
            
        li.news
          .news__date 01.01.2015
          .news__title
            img.news__img(src="img/news2.jpg", alt="")
            a.news__title-text(href="").
              Давно выяснено, что при оценке дизайна и композиции читаемый текст
            
          .news__text.
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное

      a.button-news(href="") Все новости
