.association
  .association__title
    .big-text Об ассоциации
    .small-text краткое описание
    
  .association__text
    .text.
      Компания "СИБАГРОХОЛДИНГ" производит семена картофеля немецких сортов, которые наиболее востребованы на рынке посевных материалов.
      
    .text.
      Одним из приоритетов развития бизнеса компания видит именно в создании собственного звена первичного семеноводства. Мы накопили значительный опыт в выращивании лучших сортов семенного картофеля, и готовы поделиться опытом и знаниями с нашими партнерами.
      
    .text.
      На базе компании "СИБАГРОХОЛДИНГ" была создана "Ассоциация Участников Картофельного Рынка" в формате которой мы готовы помогать нашим коллегам, производителям картофеля, выстраивать свой бизнес наиболее продуктивно.
    
  a.arrow-button(href="") Подробнее
  .quote
    .quote__text.
      Мы&nbsp;имеем большой накопленный опыт в&nbsp;построении эффективного бизнеса в&nbsp;сфере производства столового и&nbsp;семенного картофеля и&nbsp;готовы поделиться им&nbsp;с&nbsp;Вами!
      
    img.quote__img(src="img/signature.jpg", alt="подпись")
    .quote__author
      .quote__position Председатель Ассоциации,
      .quote__name Рудков Андрей
