section.section.first-block
  .wrapper
    .main-slider
      .main-slider__slide.main-slider__slide1
        h2.main-slider__title
          |Заголовок баннерного
          br
          |блока написанный
          br
          |CapsLK — 30pt
          
      .main-slider__slide.main-slider__slide2
      .main-slider__slide.main-slider__slide3
      .main-slider__slide.main-slider__slide4
