section.partners
  .wrapper
    .partners__title Наши партнеры
    .partners-slider
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner1.jpg", alt="")
      
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner2.jpg", alt="")
        
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner3.jpg", alt="")
        
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner4.jpg", alt="")
        
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner5.jpg", alt="")
        
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner6.jpg", alt="")
        
      a.partners-slider__slide(href="")
        img.partners-slider__img(src="img/partner1.jpg", alt="")
  
