section.news-page
  .news-page__title Заголовок раздела
  
  .news-page__item
    .news-page__top
      img.news-page__img(src="img/news3.jpg", alt="")
      .news-page__info
        .news-page__date 15 декабря 2015
        a.news-page__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news-page__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news-page__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
  
  .news-page__item
    .news-page__top
      img.news-page__img(src="img/news4.jpg", alt="")
      .news-page__info
        .news-page__date 15 декабря 2015
        a.news-page__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news-page__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news-page__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
    
  .news-page__item
    .news-page__top
      .news-page__info
        .news-page__date 15 декабря 2015
        a.news-page__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news-page__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news-page__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее
    
  .news-page__item
    .news-page__top
      img.news-page__img(src="img/news5.jpg", alt="")
      .news-page__info
        .news-page__date 15 декабря 2015
        a.news-page__subtitle(href="")
          | Подзаголовок - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент
    
    .news-page__text
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
      span.news-page__bold Lorem Ipsum используют потому, 
      | что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
    
    a.arrow-button(href="") Подробнее




  
